<div class="container">
    <div class="row">
        <div class="text-center" id="header">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="text-center" class="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="text-center">
                    <div>{{this.id}}. {{this.burger_name}}</div>
                </div>
            <div class="text-center">
                <form method="POST" action="/burgers/update"
                class="button">
                    <input type="hidden" name="burger_id" type="text"
                    value={{this.id}}>
                    <button type="submit" class="btn-default">DEVOUR IT!!</button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
            </div>
        </div>
        
        <br><br><br>

        <div class="text-center" class="task">
            {{#each burger_data}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}

        </div>
    </div>

    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="text-center enter_section">
               <p>What type of burger would you like to eat next!?</p> 
               <form action="/burgers/create" method="POST">
                    <input type="text" name="burger_name" class="form-control"
                    value="" id="enter_text">
                    <button type="submit" class="btn" id="text-enter-button">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>